load_module modules/ngx_stream_module.so;

user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

stream {
    upstream snmp_nodes {
{% for host in groups['nodes'] %}
        server {{ hostvars[host]['ansible_host'] }}:161;
{% endfor %}
    }

    server {
        listen 6000 udp;
        proxy_pass snmp_nodes;
        proxy_responses 1;
        proxy_timeout 5s;
    }
}
